<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    
    <span class="quote text-light">Giving you freedom...</span>
    <button  style="color:rgb(0, 0, 0) ;" routerLink="/dashboard">Home</button>

</nav>

<h1 style="color: rgb(2, 2, 2); text-align: center; margin-top: 20px;">Transaction History</h1>


<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transaction">
            <th> {{t.type}} </th>
            <th> {{t.amount}} </th>
        </tr>
        
    </tbody>
     
</table>
